
* {

    /* scoped to the component */
    color: hsl(var(--hue, 0), 70%, 60%);
}

.colorScheme-container {
    border: 1px solid hsl(var(--hue, 0), 70%, 60%);
    mix-blend-mode: difference;
    padding: 1rem;
    margin: 1rem;
}
